# Java
*.class

# LibGDX
local.properties
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/
*/build/
gradle/
gradlew
gradlew.bat

# Android Studio/IntelliJ
.idea/
*.iml

# Logs and temporary files
*.log
*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db
